# 所有class后缀的文件
*.class
# 所有jar后缀的文件
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
# 所有iml文件
*.iml
# .idea文件夹
.idea
# target文件夹
target
# 所有txt文件
*.txt
# 数据库连接文件
db-config.properties
# abc.txt除外，不忽略
!abc.txt